<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Disco Ball Emoji</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=League+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <head profile="http://www.w3.org/2005/10/profile">
            <link rel="icon"
            type="image/png"
            href="/assets/disco-ball-favicon.png">
    </head>
    </head>
    <body>
        <div class="background">
            <p>&#x1F48E; &#x1F496; &#x1F48E;</p>
            <div class="container">
                {{>header}}
                {{{body}}}
            </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/script.js"></script>
    </body>

</html>
